<!doctype html>
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title><%= title %></title>

</head>

<body>

  <div>
    <h1>File List</h1>
    <% files.each do |file| %>
    <ul>
      <li><a href="<%= file %>"><%= file %></a></li>
    </ul>
    <% end %>
  </div>
  <div>
    <% if sort_order == "descending" %>
      <a href="/" title="Sort aescending">Sort aescending</a>
    <% else %>
      <a href="/?sort_order=descending" title="Sort descending">Sort descending</a>
    <% end %>
  </div>
</body>
</html>
