<!DOCTYPE html>
<html>
<head>
	<title>Make A Bet</title>
</head>
<body>
	<h3>Make A Bet Game</h3>
  <h4>Current Balance is $<%= balance %>.</h4>

	<% if session[:message] %>
	<p><%= session.delete(:message) %></p>
	<% end %>

	<%== yield %>
</body>
</html>