body {
  font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
}

#initial {
  border-collapse: collapse;
  width: 100%;
}

#initial > thead th, #initial > tbody td, #initial > caption {
  border: 1px solid #ddd;
  padding: 8px;
}

#initial > tbody tr:nth-child(even) {
  background-color: #f2f2f2;
}

#initial > tbody tr:hover {
  background-color: #ddd;
}

#initial > thead th, #initial > caption {
  padding-top: 12px;
  padding-bottom: 12px;
  background-color: #4CAF50;
  color: white;
}

#initial > thead th {
  text-align: left;
}

#initial > caption {
  text-align: center;
}

#form {
  padding: 20px 0px;
}

#form fieldset {
  border-radius: 5px;
  background-color: #f2f2f2;
}

input[type=text] {
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0px;
  display: inline-block;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
}

input[type=submit], #all-entries, #clear-entries {
  background-color: #4CAF50;
  color: white;
  padding: 14px 20px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

input[type=submit] {
  width: 100%;
  margin: 8px 0px;
}

input[type=submit]:hover {
  background-color: #45a049;
}

#all-entries, #clear-entries {
  box-sizing: border-box;
  display: inline-block;
  width: 49%;
}

#clear-entries {
  margin-left: 22px;
}
