html {
  box-sizing: border-box;
}

*, *:after, *:before {
  box-sizing: inherit;
}

.styled-form * {
  padding: 0;
  margin: 0;
}

.styled-form fieldset {
  background-color: #ececec;
  border: 2px solid #999;
  color: #4d4d4d;
  font-family: Futura, "Helvetica Neue", Helvetica, Arial, sans-serif;
  padding: 1rem;
}

.styled-form label {
  line-height: 1.5rem;
  font-weight: bold;
}

.styled-form input[type="text"],
.styled-form input[type="email"],
.styled-form select, button {
  border: 1px solid #06c;
  border-radius: 4px;
  font-family: Georgia, serif;
  font-weight: normal;
  font-size: 1rem;
  height: 40px;
  padding: 5px 8px;
  width: 100%;
}

.styled-form select {
  -moz-appearance: none;
  -webkit-appearance: none;
  appearance: none;
  background-image: url("data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHZlcnNpb249IjEuMSIgeD0iMTJweCIgeT0iMHB4IiB3aWR0aD0iMjRweCIgaGVpZ2h0PSIzcHgiIHZpZXdCb3g9IjAgMCA2IDMiIGVuYWJsZS1iYWNrZ3JvdW5kPSJuZXcgMCAwIDYgMyIgeG1sOnNwYWNlPSJwcmVzZXJ2ZSI+PHBvbHlnb24gcG9pbnRzPSI1Ljk5MiwwIDIuOTkyLDMgLTAuMDA4LDAgIi8+PC9zdmc+");
  background-repeat: no-repeat;
  background-position: right;
}

.styled-form dl {
  margin-bottom: 1rem;
}

.styled-form dt {
  margin-bottom: 0.25rem;
}

.partial {
  display: inline-block;
}

.city, .state {
  margin-right: 1rem;
}

.city {
  width: calc(50% - 1rem);
}

.state {
  width: 25%;
}

.zipcode {
  width: calc(25% - 1rem);
}

.zipcode input[type="text"] {
  font-family: "Times New Roman", serif;
}

.color_choice, .technology_choice {
  list-style: none;
}

.color_choice input[type="radio"],
.technology_choice input[type="checkbox"] {
  margin-right: 0.5rem;
}

li {
  margin-bottom: 0.5rem;
}

.color_choice, .technology_choice {
  margin-bottom: 1rem;
}

.comment textarea {
  font-family: Georgia, serif;
  font-size: 1rem;
}

button {
  font-weight: bold;
  width: 10%;
}

button:first-of-type {
  margin-right: 1rem;
}