html {
  box-sizing: border-box;
}

body * {
  margin: 0;
  padding: 0;
}

*, *:after, *:before {
  box-sizing: inherit;
}

#floated {
  background-color: #ecaa33;
  float: left;
  width: 100%;
}

#floated + p {
  background-color: #18aaff;
  clear: both;
}

p {
  padding: 1rem;
}

/*
The orange container is now narrower than the blue container because it is a floated
item.  If an explicit width is not set on a floated item it takes as its default
width the width of its content.

In order to make the orange container have the same width as the blue, we just need
to have the orange container inherit its width from its parent, which in this case
is the <main> element.
*/