html {
  font-size: 32px;
}

body {
  background-image: url("../images/gradient-background.png");
  background-size: 25%;
}

section {
  display: inline-block;
  width: 500px;
}

nav {
  background-image: url("../images/blurry.png");
  display: inline-block;
  height: 200px;
  width: 250px;
}

nav > ul {
  list-style: disc inside;
}