#first-table {
  background-color: cyan;
  border-collapse: collapse;
}

#first-table td {
  background-color: orange;
}

#first-table tr:nth-child(2n+2) > td {
  background-color: yellow;
}

#second-table thead tr th {
  color: green;
}

#second-table [scope="row"] {
  color: blue;
}

#third-table {
  border-collapse: collapse;
}

#third-table th {
  border: 1px solid grey;
}

#third-table td {
  border: 1px solid grey;
}