<h2 class="content-subhead">Table of Contents</h2>

<div class="pure-menu">
  <ul class="pure-menu-list">
    <% contents.each.with_index(1) do |chapter_title, chapter_number| %>
      <li class="pure-menu-item">
        <a href="chapters/<%= chapter_number %>" class="pure-menu-link"><%= chapter_title %></a>
      </li>
    <% end %>
  </ul>
</div>