<h2 class="contnet-subhead">Search</h2>
<form action="/search" method="get" accept-charset="utf-8">
  <input type="search" name="query" value="<%= params[:query] %>">
  <button type="submit">Search</button>
</form>

<% if params[:query] %>
  <% if results.empty? %>
    <p>Sorry, no matches were found.</p>
    <% else %>
    <h2 class="content-subhead">Results for '<%= params[:query] %>'</h2>
    <ul>
      <% results.each do |chapter_title, paragraphs| %>
        <li><%= chapter_title %></li>
          <ul>
            <% paragraphs.each do |p| %>
            <li><%= p %></li>
            <% end %>
          </ul>
      <% end %>
    </ul>
  <% end %>
<% end %>