<ul id="lists">
	<% @lists.each.with_index do |list, list_id| %>
  <% if list_complete?(list) %>
  <li class="complete">
  <% else %>
  <li>
  <% end %>
		<a href="/lists/<%= list_id %>">
			<h2><%= list[:name] %></h2>
			<p><%= list_status(list) %></p>
		</a>
	</li>
	<% end %>
</ul>

<% content_for :header_links do %>
  <a class="add" href="/lists/new">New List</a>
<% end %>