html {
  box-sizing: border-box;
}

*, *:after, *:before {
  box-sizing: inherit;
}

body * {
  margin: 0;
  padding: 0;
}

body {
  width: 980px;
  margin: 0 auto;
}

.wrapper {
  padding-right: 20px;
}

.row {
  clear: both;
}

.col {
  float: left;
  margin-left: 20px;
  width: 60px;
  margin-bottom: 5px;
  background-color: rgb(255, 150, 150);
}

.col.span1 {
  width: 60px;
}

.col.span2 {
  width: calc(2*60px + 1*20px);
}

.col.span3 {
  width: calc(3*60px + 2*20px);
}

.col.span4 {
  width: calc(4*60px + 3*20px);
}

.col.span5 {
  width: calc(5*60px + 4*20px);
}

.col.span6 {
  width: calc(6*60px + 5*20px);
}

.col.span7 {
  width: calc(7*60px + 6*20px);
}

.col.span8 {
  width: calc(8*60px + 7*20px);
}

.col.span9 {
  width: calc(9*60px + 8*20px);
}

.col.span10 {
  width: calc(10*60px + 9*20px);
}

.col.span11 {
  width: calc(11*60px + 10*20px)
}

.col.span12 {
  width: calc(12*60px + 11*20px)
}