/*
Tasks

1.  Fix the header, it needs to be up higher and have a bigger blue background.

2.  The menu needs to have the menu items in a row under the header and the menu
items need to be evenly spaced out.

3.  Then the text is arranged in three columns it looks as if the grey background is
twice as wide as the green backgrounds.  All text scale in height to the largest
group of text.

4.  The image is scaled down and locked to the left of the copyright, it seems to be fixed in size.

5.  The copy right is locked to the right of the image and scales in size with respect to the image.
*/

/* added code at beginning */
html {
  font: normal 24px Helvetica, Arial, sans-serif;
  box-sizing: border-box;
}

*, *::before, *::after {
  box-sizing: inherit;
}

* {
  margin: 0;
  padding: 0;
}

/* end of added code at beginning */

h1 {
  /* background-color: blue; commented out from original CSS */
  color: white;
}

header {
  padding: 1rem;
  text-align: center;
  background-color: blue;
}

nav {
  background-color: cyan;
}

ul {
  list-style-type: none;
}

li {
  text-align: center;
  width: 20%;
}

a {
  box-sizing: border-box;
  display: inline-block;
  padding: 1rem 0;
  text-decoration: none;
  width: 100%;
}

a:focus,
a:hover {
  background-color: blue;
  color: yellow;
}

article,
aside {
  padding: 0 1rem;
}

aside {
  background-color: lightgreen;
}

p {
  margin: 1rem 0;
}

footer {
  background-color: yellow;
}

#copyright {
  margin: 0 1rem;
}

#logo {
  height: 200px;
  background-color: orange;
}

/*

Below is the code I added

*/

#logo img {
  height: 200px;
}

nav ul {
  display: flex;
  justify-content: space-around;
}

main {
  display: flex;
}

main > aside:nth-of-type(1),
main > aside:nth-of-type(2) {
  flex: 1;
}

main > article {
  flex: 2;
}

footer {
  display: flex;
  flex-flow: row-reverse;
  justify-content: space-between;
  align-items: center;
}

