html {
  box-sizing: border-box;
}

*, *:after, *:before {
  box-sizing: inherit;
}

body {
  margin: 0;
  padding: 0;
}

fieldset {
  background-color: #ececec;
  color: #4d4d4d;
  border: 2px solid #999;
  font-family: Futura, "Helvetica Neue", Helvetica, Arial, sans-serif;
  padding: 1rem;
}

label {
  display: block;
  line-height: 1.5rem;
  font-weight: bold;
}

input[type="text"], input[type="tel"] {
  border: 1px solid #06c;
  border-radius: 4px;
  height: 40px;
  width: 100%;
  padding: 5px 8px;
  font-size: 1rem;
  font-family: Georgia, serif;
}

div.row:nth-of-type(2), div.row:nth-of-type(3) {
  margin-top: 0.5rem;
  margin-bottom: 0.5rem;
}