body {
  width: 800px;
  border-style: solid;
  border-color: blue;
  margin: 0px;
  padding: 0px;
  border-width: 1px;
}

.box {
  border-style: solid;
  border-color: red;
  display: inline-block;
  margin: 0px;
  padding: 0px;
  border-width: 1px;
  vertical-align: top;
}

#one {
  width: 298px;
  height: 123px;
  background-color: pink;
}

#two {
  width: 398px;
  height: 198px;
  background-color: orange;
}

#three {
  width: 98px;
  height: 98px;
  background-color: yellow;
}

#four {
  width: 498px;
  height: 78px;
  background-color: lightgreen;
}

#five {
  width: 248px;
  height: 58px;
  background-color: lightblue;
}

