html {
  box-sizing: border-box;
}

*, *:after, *:before {
  box-sizing: inherit;
}

body {
  width: 90%;
}

body * {
  margin: 0;
  padding: 0;
}

.horizontal-nav {
  list-style-type: none;
  background-color: #333;
  overflow: hidden;
}

.horizontal-nav li {
  float: left;
  width: 20%;
}

.horizontal-nav li a {
  display: block;
  color: white;
  text-align: center;
  text-decoration: none;
  padding: 5px 10px;
}