html {
  box-sizing: border-box;
}

*, *:before, *:after {
  box-sizing: inherit;
}

* {
  margin: 0;
  padding: 0;
}

body {
  font-size: 18px;
  background-color: rebeccapurple;
}

h1 {
  margin-top: 20px;
  font-size: 24px;
  color: white;
  text-align: center;
}

#container {
  margin: 20px;
}

.row {
  display: inline-flex;
  flex-direction: row;
  flex-wrap: nowrap;
  max-width: 100%;
  margin: 0 auto;
}

.row > figure {
  flex: 1 1 calc(25% - 20px);
  margin: 10px;
  position: relative;
}

.row > figure > img {
  width: 100%;
  border: 10px solid white;
  border-radius: 10px;
}

.row > figure > figcaption {
  display: none;
  position: absolute;
  color: #FFFFFF;
  background-color: black;
  width: 300px;
  height: 200px;
  border: none;
  border-radius: 10px;
  padding: 10px;
  margin-left: 20px;
  margin-top: -10px;
  z-index: 1;
  font-size: 16px;
  opacity: 0.8;
}