<form action="/<%= @fname %>" method="post" accept-charset="utf-8">
  <input type="hidden" name="_method" value="patch">
  <label for="file" style="display: block;">Edit content of <%= @fname %>:</label>
  <textarea id="file" name="file" rows="20" cols="30">
    <%= @file %>
  </textarea>
  <button type="submit" style="display: block;" >Save Changes</button>
</form>