html {
  box-sizing: border-box;
}

*, *:after, *:before {
  box-sizing: border-box;
}

body {
  width: 90%;
  max-width: 900px;
  margin: 0 auto;
  font: 0.9em/1.2 Arial, Helvetical, sans-serif;
}

.box {
  float: left;
  margin: 15px;
  width: 150px;
  height: 200px;
  border-radius: 5px;
  background-color: rgb(207, 232, 220);
  padding: 1rem;
}

.special {
  padding: 10px;
  color: #fff;
}

.middle {
  background-color: rgb(79,185,227);
}

.last {
  background-color: rgb(185,79,227);
}

.cleared {
  clear: left;
}

.wrapper {
  background-color: rgb(79,185,227);
  padding: 10px;
  color: #fff;
  display: flow-root;
}

